<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gymnasium.mapper.teacherMapper">
  <resultMap id="BaseResultMap" type="com.example.gymnasium.entity.teacher">
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="teachnumber" jdbcType="VARCHAR" property="teachnumber" />
    <result column="colleague" jdbcType="VARCHAR" property="colleague" />
  </resultMap>
  <insert id="insert" parameterType="com.example.gymnasium.entity.teacher">
    insert into teacher (userid, teachnumber, colleague)
    values (#{userid,jdbcType=INTEGER}, #{teachnumber,jdbcType=VARCHAR}, #{colleague,jdbcType=VARCHAR}
           )
  </insert>

  <select id="selectByPrimaryKey" resultType="com.example.gymnasium.entity.teacher" resultMap="BaseResultMap">
    SELECT * FROM teacher WHERE teachnumber=#{param1}
  </select>

  <select id="selectByuserid" resultType="com.example.gymnasium.entity.teacher" resultMap="BaseResultMap">
    SELECT * FROM teacher WHERE userid=#{param1}
  </select>

  <select id="findall" resultType="com.example.gymnasium.entity.teacher" resultMap="BaseResultMap">
    SELECT * FROM teacher
  </select>

  <insert id="register" parameterType="com.example.gymnasium.entity.teacher" >
    insert into teacher (userid, teachnumber, colleague)
    values (#{userid,jdbcType=INTEGER}, #{teachnumber,jdbcType=VARCHAR}, #{colleague,jdbcType=VARCHAR})
  </insert>

  <update id="uptTeaColleagueByKey" parameterType="com.example.gymnasium.entity.teacher">
    update teacher
    set colleague = #{colleague,jdbcType=VARCHAR}
    where teachnumber = #{teachnumber,jdbcType=VARCHAR}
  </update>

  <update id="uptTeaColleagueById" parameterType="com.example.gymnasium.entity.teacher">
    update teacher
    set colleague = #{colleague,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=INTEGER}
  </update>

  <update id="uptTeachnumberById" parameterType="com.example.gymnasium.entity.teacher">
    update teacher
    set teachnumber = #{teachnumber,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=INTEGER}
  </update>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete u,a from teacher as u LEFT JOIN user as a ON u.userid = a.userid WHERE u.userid= #{param1}
  </delete>

  <insert id="insertSelective" parameterType="com.example.gymnasium.entity.teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="teachnumber != null">
        teachnumber,
      </if>
      <if test="colleague != null">
        colleague,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="teachnumber != null">
        #{teachnumber,jdbcType=VARCHAR},
      </if>
      <if test="colleague != null">
        #{colleague,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>